<div class="list-show">
<%= image_tag (@listing.avatars[0]) %><br />
<!--listing---------------->

<h3><%= @listing.list_name %></h3>
<p>Property Type:<%= @listing.property_type %></p>
<p>Room type:<%= @listing.room_type %></p>
<p>City:<%= @listing.city %></p>
<p>Location:<%= @listing.location %></p>
<p>Room For:<%= @listing.capacity %></p>
<p>RM:<%= @listing.price %></p>
</div>
