<header class="navbar navbar-custom navbar-fixed-top">
<div class="container-fluid">
  <!-- <%= link_to image_tag("rails.png", alt: "Rails logo"), '#' %> -->
  <%= link_to "sample app", '#', id: "logo" %>
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Home",root_path%></li>
      <% if signed_in? %>
      <li><%= link_to "List new", new_listing_path%> </li>
      <li><%= link_to "Sign out", sign_out_path, id: "sign_out", method: :delete %></li>
      <li><%=image_tag(current_user.avatar.small_thumb.url)%> </li>
      <% else %>
      <li><%= link_to "Connect with Facebook", "/auth/facebook", id: "sign_in", class:""%></li>
      <li><%= link_to t(".sign_up"), sign_up_path %> </li>
      <li><%= link_to t(".sign_in"), sign_in_path %> </li>
      <% end %>
    </ul>
    </div>
  </nav>
</div>
</header>
